
$font-stack:    Helvetica, sans-serif;
$primary-color: #333;


nav {
	margin-left: 730px;
}

.selectedCard{
  background-color: lightgreen;
  border: 5px solid;
}

.spacer {
	margin: 5px;
}

.carCards {
  width: 20%;
  float: left;
  text-align: center;
  position: relative;
}

.card-wrapper:nth-child(1), .card-wrapper:nth-child(2) {
  margin-right: 10px;
}
