<nav class="navbar navbar-light bg-faded">
      <div class="form-inline float-xs-left">
        <input id="inputText" type="text">
        <button id="submitBtn" type="submit">Submit</button>
      </div>
</nav>